<h2 class="custom">yuvraj component! --normalcomponent</h2>
<!-- <button (click)="getfunction('hello')"> Click me!</button><br/><br/>
<input type="text" #box (keyup)="getfunction(box.value)" placeholder="event keyUp" />
<input type="text" #box1 (keydown)="getfunction(box1.value)" placeholder="event keyDown" />
<input type="text" #box2 (blur)="getfunction(box2.value)" placeholder="event blur" />
<input type="text" #box3 (input)="getfunction(box3.value)" placeholder="event input" /> -->
<!-- <h1 (mouseover)="getfunction('over')"> code </h1> -->



